/*

 Created by Zachariah Albers on 7/14/18.
 Copyright © 2018 Zachariah Albers. All rights reserved.

 */

.hideFromView {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.showToView {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.noBullets{
  list-style-type: none;
  font-family: 'Orbitron', sans-serif;
}

#currently-Selected-Tab{
  color: #3783B3;
  border-color: #07C0CC;
}



.mainTextColor{
  color: #3783B3;
  border-color: #07C0CC;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
}

.secondaryTextColor{
  color: #FFB422;
}



.btn.btn-primary, .btn.btn-outline-primary {
  border-radius: 20px;
}

.card-body{
  cursor: pointer;
}

.card-title {
  font-family: 'Fredericka the Great', cursive;
}

/* h4 {
  font-family: 'Russo One', sans-serif;
} */

.modal-title {
  font-family: 'Fredericka the Great', cursive;
}

a {
  cursor: pointer;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.modal-lg {
    max-width: 85%;
    justify-content: center;
}


#cpsc581nav {
  float: right;
}

/* #cpsc581-Button {
  color: #FFB422 !important;

} */



/* Style the Image Used to Trigger the Modal */
.hoverImage {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hoverImage:hover {opacity: 0.7;}

/* The Modal (background) */
.hoverModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.hoverModal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.hoverModal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.hoverModal-content, .hoverModal-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.HoverImageclose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.HoverImageclose:hover,
.HoverImageclose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .hoverModal-content {
    width: 100%;
  }
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: auto;
}


/* Fix scrolling issue on mobile  */
/* Link to fix: https://stackoverflow.com/questions/21024774/twitter-bootstrap-3-modal-on-mobile-scroll-issues  */
