/*

 Created by Zachariah Albers on 7/14/18.
 Copyright © 2018 Zachariah Albers. All rights reserved.

 */

.hideFromView {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.showToView {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}

#currently-Selected-Tab{
  color: #07C0CC;
  border-color: #07C0CC;
}

.mainTextColor{
  color: #07C0CC;
  border-color: #07C0CC;
}

.secondaryTextColor{
  color: #FFB422;
}



.btn.btn-primary, .btn.btn-outline-primary {
  border-radius: 20px;
}

.card-body{
  cursor: pointer;
}

a {
  cursor: pointer;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#cpsc581nav {
  float: right;
}

#cpsc581-Button {
  color: #FFB422 !important;

}
